@(field: Field, label: String = "CHANGEME", buttonNameList: List[String], help: String = "", chosen:String="", navOnClick: String = "", latex:String="false")

  <div class="form-group @if(field.hasErrors) {has-error}">
    @{ if (!label.isEmpty()) {
    <label class="col-sm-2 control-label" for="@field.id">
    		{label}
    </label>
	    }
    } 
    <div id="@(field.id + "s")" class="col-sm-10" >
      @for(buttonName <- buttonNameList) {
      <label class="radio-inline">
        <input
          type="radio"
          name="@field.name"
          id="@buttonName"
          value="@buttonName"
          @{if (navOnClick=="true") {scala.xml.Unparsed("onclick=" + "\"" + "window.location=" + "'" + "?id="  + buttonName + 
          "&latex=" + latex + 
          "'" + "\"")}}
          @if(buttonName == chosen) {checked}
          @if(buttonName == field.value.getOrElse("")) {checked}
           />
        @buttonName
      </label>
      }
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
