@(queryForm: Form[views.formdata.QueryFormData], 
result: String,
bottomLine: String, predefinedSystems: List[String],
chosenPredefinedSystem: String, 
paralyzerOptions: List[String],
rulesHeight: String,
latexCheckBoxMap:Map[String, Boolean] ) 
@import helper._


<script type="text/javascript"
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>

	@Main("Index") {
		<div id="containerDiv" class="container">
			<div id="formDiv" class="well">
		
				@form(routes.Application.postIndex(), 'class -> "form-horizontal") {
					@fieldset(queryForm, predefinedSystems, chosenPredefinedSystem,
					paralyzerOptions, rulesHeight, latexCheckBoxMap)
				}
			</div>
		
			@if(flash.containsKey("success")) {
				<div class="well" id="bottomLineDiv">
					@{scala.xml.Unparsed(bottomLine)}</div>
			
			
				<div class="well" id="resultDiv" white-space="pre-line">
					<div id="success-message" class="text-success">
						@{scala.xml.Unparsed(result.replace("\\\\","\\"))}
						@flash.get("success")</div>
				</div>
			} 
			@if(flash.containsKey("error")) {
				<div class="well">
					<div id="error-message" class="text-danger">@flash.get("error")
					</div>
				</div>
			}
		
						<div id="aboutDiv" class="well">
					<p class="big">
						Gen2Sat is a tool for deciding derivability in
						 analytic propositional pure sequent calculi, 
						by reducing it to classical satisfability. The reduction is based on the paper:						<i>
						<a href="http://link.springer.com/chapter/10.1007%2F978-3-319-08587-6_6" target="_blank">
						SAT-based Decision Procedure for Analytic Pure Sequent Calculi</a>, 
						<a href="http://www.mpi-sws.org/~orilahav/" target="_blank">
						Ori Lahav</a>, 
						<a href="http://cs.tau.ac.il/research/yoni.zohar/">
						Yoni Zohar</a>.
						Proceedings of 
						<a href="http://cs.nyu.edu/ijcar2014/" target="_blank">
						IJCAR 2014</a>.
						</i>
						The source code and command-line utility can be downloaded 
						<a href="assets/gen2sat.zip" target="_blank">
						here</a>.
						The web interface was written using
							<img src="assets/playlogo.png" style="height: 1.3em"></a> Framework,
							based on 
							<a href="http://ics-software-engineering.github.io/play-example-form/" target="_blank">
							this
							example</a>.
							<img src="assets/latex.gif" style="height: 1em"> rendering is done with
							<a href="https://www.mathjax.org/" target="_blank">
							 <img src="assets/mathjax.gif" style="height: 1em"></a>.
							
						The SAT-solver that we use is
							<a href="http://www.sat4j.org/index.php" target="_blank">
							sat4j 
							</a>.
						The tool was implemented by 
						<a href="http://cs.tau.ac.il/research/yoni.zohar/" target="_blank">
						Yoni Zohar</a>.
						Any comments or questions are 
						<a href="mailto:yoni.zohar@@cs.tau.ac.il">welcome</a>.
					</p>
				</div>
						
		
		
		</div>


}